snippet date "date" w
`date +%Y`.`date +%m`.`date +%d`
endsnippet
snippet day "day" 
`date +%D`

endsnippet
snippet   "Description" w
                                                                                        
endsnippet
