/**
 * @author      : {{NAME}} ({{EMAIL}})
 * @file        : {{FILE}}
 * @created     : {{TIMESTAMP}} 
 * @github      : https://github.com/denstiny
 * @blog        : https://denstiny.github.io
 */

#ifndef A_H

#define A_H

{{CURSOR}}


#endif /* end of include guard A_H */
