/**
 * @author      : {{NAME}} ({{EMAIL}})
 * @file        : {{FILE}}
 * @created     : {{TIMESTAMP}}
 * @github      : https://github.com/denstiny
 * @blog        : https://denstiny.github.io
 */

#include <iostream>
using namespace std;
int main(int argc, char **argv) {
    
}
